azure-common==1.1.28
azure-core==1.30.2
azure-search-documents==11.4.0
bcrypt==4.1.3
extra-streamlit-components==0.1.71
fuzzywuzzy==0.18.0
langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.10
langchain-text-splitters==0.2.2
langsmith==0.1.82
python-dotenv==1.0.1
SQLAlchemy==2.0.31
st-annotated-text==4.0.1
st-login-form==0.3.1
st-theme==1.2.3
streamlit==1.36.0
streamlit-antd-components==0.3.2
streamlit-authenticator==0.3.2
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-cookies-manager==0.2.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.3
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-login-auth-ui==0.2.0
streamlit-lottie==0.0.5
streamlit-option-menu==0.3.13
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5


